/*******************************************************************************
 *                                                                             *
 * Fonts                                                                       *
 *                                                                             *
 ******************************************************************************/

.special-font-13 {
    -fx-font-family: "Open Sans SemiBold";
    -fx-font-size: 12px;
}

.special-font-14 {
    -fx-font-family: "Open Sans SemiBold";
    -fx-font-size: 13px;
}

.special-font-16 {
    -fx-font-family: "Open Sans SemiBold";
    -fx-font-size: 15;
}

/*******************************************************************************
 *                                                                             *
 * Main Split Pane                                                             *
 *                                                                             *
 ******************************************************************************/

.main-split-pane {
    -fx-background-color: transparent;
}

/*******************************************************************************
 *                                                                             *
 * Editor Dialog                                                                *
 *                                                                             *
 ******************************************************************************/

.dialog-root {
    -fx-padding: 0px;
    -fx-alignment: top-center;
    -fx-background-color: -var-background-color;
}

.dialog-root > .grid-pane {
    -fx-alignment: center-left;
    -fx-vgap: 2;
    -fx-hgap: 2;
}

.dialog-actions-root {
    -fx-padding: 15px 15px 15px 15px;
}

.dialog-actions-root > .hbox {
    -fx-alignment: center-right;
    -fx-spacing: 4px;
}

.dialog-content-root {
    -fx-padding: 10px 15px 0px 15px;
    -fx-alignment: center;
}

.dialog-button {
    -fx-min-height: -var-dialog-button-height;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: -var-dialog-button-width;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-font-size: 14px;
    -fx-focus-traversable: true;
}

.dialog-label-warning {
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-min-height: -var-default-field-height;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 800px;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
}

.dialog-dynamic-label {
    -fx-alignment: center-right;
    -fx-text-alignment: right;
    -fx-min-width: 150;
    -fx-pref-width: -fx-min-width;
    -fx-padding: 0px 0px 0px 0px;
}

.dialog-field {
    -fx-pref-height: -fx-min-height;
    -fx-min-height: -var-default-field-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 20;
}

/*******************************************************************************
 *                                                                             *
 * Custom Buttons                                                              *
 *                                                                             *
 ******************************************************************************/

.button-without-left-border {
    -fx-border-width: 1px 1px 1px 0px;
}

.button-without-left-right-border {
    -fx-border-width: 1px 0px 1px 0px;
}

.button-without-right-border {
    -fx-border-width: 1px 0px 1px 1px;
}

/*******************************************************************************
 *                                                                             *
 * Text Input Container                                                          *
 *                                                                             *
 ******************************************************************************/

.text-input-container {
    -fx-background: -var-button-background-color;
    -fx-background-color: -fx-background;
    -fx-background-insets: 0px;
    -fx-background-radius: 2px;
    -fx-border-color: -var-border-color;
    -fx-border-width: 1px;
    -fx-border-radius: 1px;
    -fx-padding: 1px 1px 1px 4px;
    -fx-min-height: -var-default-field-height;
    -fx-alignment: center;
}

.text-input-container:focused {
    -fx-border-color: -var-border-color, -fx-focus-color;
    -fx-border-width: 1px, 1px;
    -fx-border-insets: 0 0 0 0, 1 1 1 1;
    -fx-padding: 0px 0px 0px 3px;
}

.text-input-container:disabled {
    -fx-opacity: -var-disabled-opacity;
}

.text-input-container-without-padding {
    -fx-background: -var-button-background-color;
    -fx-background-color: -fx-background;
    -fx-background-insets: 0px;
    -fx-background-radius: 2px;
    -fx-border-color: -var-border-color;
    -fx-border-width: 1px;
    -fx-border-radius: 1px;
    -fx-padding: 1px 1px 1px 1px;
    -fx-min-height: -var-default-field-height;
}

.text-input-container-without-padding:focused {
    -fx-border-color: -var-border-color, -fx-focus-color;
    -fx-border-width: 1px, 1px;
    -fx-border-insets: 0 0 0 0, 1 1 1 1;
    -fx-padding: 0px 0px 0px 0px;
}

.text-input-container-without-padding:disabled {
    -fx-opacity: -var-disabled-opacity;
}

/*******************************************************************************
 *                                                                             *
 * Transparent Text Area                                                       *
 *                                                                             *
 ******************************************************************************/

.transparent-text-area {
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-border-radius: 0px;
    -fx-padding: 0px;
}

.transparent-text-area:focused {
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-border-insets: 0px;
    -fx-padding: 0px;
}

/*******************************************************************************
 *                                                                             *
 * Transparent Combo Box                                                       *
 *                                                                             *
 ******************************************************************************/

.transparent-combo-box,
.transparent-combo-box:editable,
.transparent-combo-box:editable > .arrow-button {
    -fx-background-color: -fx-body-color;
}

/*******************************************************************************
 *                                                                             *
 * Transparent Spinner                                                         *
 *                                                                             *
 ******************************************************************************/

.transparent-spinner {
    -fx-background: transparent;
    -fx-border-color: transparent;
}
.transparent-spinner:focused,
.transparent-spinner:contains-focus {
    -fx-border-color: transparent;
}

.transparent-spinner > .text-field:focused {
    -fx-padding: 0px 0px 0px 5px;
}

.transparent-spinner .decrement-arrow-button,
.transparent-spinner .increment-arrow-button {
    -fx-padding: 4px 6px 4px 6px;
}

.transparent-spinner .decrement-arrow-button {
    -fx-padding: 4px 6px 4px 6px;
}

.transparent-spinner:focused .decrement-arrow-button,
.transparent-spinner:contains-focus .decrement-arrow-button,
.transparent-spinner:focused .decrement-arrow-button,
.transparent-spinner:contains-focus .increment-arrow-button {
    -fx-padding: 4px 6px 4px 6px;
}


/*******************************************************************************
 *                                                                             *
 * Transparent Text Field                                                      *
 *                                                                             *
 ******************************************************************************/

.transparent-text-field {
    -fx-background: transparent;
    -fx-background-color: -fx-background;
    -fx-background-insets: 0px;
    -fx-background-radius: 0px;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-border-radius: 0px;
    -fx-padding: 0px 0px 0px 0px;
}

.transparent-text-field:focused {
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-border-insets: 0;
    -fx-padding: 0px 0px 0px 0px;
    -fx-prompt-text-fill: transparent;
}

/*******************************************************************************
 *                                                                             *
 * Text Filed in Combo Box                                                     *
 *                                                                             *
 ******************************************************************************/

.text-field-in-combo-box {
    -fx-padding: 0px 0px 0px 4px;
}

.text-field-in-combo-box:focused {
    -fx-padding: 0px 0px 0px 4px;
}

/*******************************************************************************
 *                                                                             *
 * Flat Button                                                                 *
 *                                                                             *
 ******************************************************************************/

.flat-button {
    -fx-background: transparent;
    -fx-background-color: -fx-background;
    -fx-background-insets: 0px;
    -fx-background-radius: 2px;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-border-radius: 0px;
    -fx-content-display: center;
    -fx-focus-traversable: false;
}

.flat-button:hover {
    -fx-border-color: transparent;
}

.flat-button:selected {
    -fx-background-radius: 0px;
}

.flat-button:pressed {
    -fx-border-color:transparent;
    -fx-background-radius: 0px;
}

/*******************************************************************************
 *                                                                             *
 * Input Control Toolbar Button                                                *
 *                                                                             *
 ******************************************************************************/

.input-control-toolbar-button {
    -fx-min-height: 24px;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 24px;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

/*******************************************************************************
 *                                                                             *
 * File Editor                                                                 *
 *                                                                             *
 ******************************************************************************/

.file-editor-toolbar-button {
    -fx-min-height: -var-default-toolbar-button-size;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: -var-default-toolbar-button-size;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

.file-editor-toolbar-label {
    -fx-min-height: 24px;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
}

.file-editor-toolbar-field {
    -fx-min-height: 24px;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
}

.file-editor-main-split-pane {
    -fx-background-color: transparent;
}

.file-editor-toolbar {
    -fx-background-color: -var-background-color;
    -fx-border-color: -var-border-color;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-min-height: 31px;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-padding: 10px, 0px, 0px, 0px;
    -fx-alignment: center-left;
    -fx-spacing: 2px;
}

.file-editor-editor-area {
}

.file-editor-tool-split-pane {
    -fx-background-color: transparent;
    -fx-orientation: vertical;
}

.file-editor-tool-component {
    -fx-background-color: -var-background-color;
    -fx-min-width: 24px;
}

/*******************************************************************************
 *                                                                             *
 * Material File Editor                                                        *
 *                                                                             *
 ******************************************************************************/

.material-file-editor-properties-component {
    -fx-background-color: transparent;
    -fx-alignment: top-left;
    -fx-padding: 1px 5px 0px 4px;
}

.material-file-editor-param-control {
    -fx-alignment: center-left;
    -fx-padding: 1px 0px 1px 0px;
}

.material-file-editor-param-control-name {
    -fx-alignment: center-right;
    -fx-text-alignment: right;
    -fx-padding: 0px 2px 0px 0px;
}

.material-file-editor-param-control-texture-preview {
    -fx-min-height: 30px;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 30px;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-border-color: -var-border-color;
    -fx-border-width: 1px;
}

.material-file-editor-param-control-button {
    -fx-min-height: 20px;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 20px;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-padding: 1px;
}

.material-file-editor-param-control-color-picker {
}


.material-file-editor-param-control-checkbox {
    -fx-alignment: center;
}

.material-file-editor-param-control-spinner {
}

.material-file-editor-param-control-combo-box {
}

/*******************************************************************************
 *                                                                             *
 * Scene File Editor                                                           *
 *                                                                             *
 ******************************************************************************/

.scene-editor-stats-container {
    -fx-alignment: bottom-left;
}

/*******************************************************************************
 *                                                                             *
 * Abstract Node Tree                                                          *
 *                                                                             *
 ******************************************************************************/

.abstract-node-tree-container {
    -fx-padding: 0px 0px 0px 0px;
}

.abstract-node-tree-cell {
}

.abstract-node-tree-cell > .hbox {
    -fx-alignment: center-left;
    -fx-spacing: 2px;
}

.abstract-node-tree-cell:dragged {
}

.abstract-node-tree-cell:drop-available {
    -fx-background-color: -var-tree-cell-selected-color;
}

.abstract-node-tree-cell:editing {
    -fx-padding: 4px;
}

/*******************************************************************************
 *                                                                             *
 * Transparent Tree View                                                       *
 *                                                                             *
 ******************************************************************************/

.transparent-tree-view {
    -fx-padding: 0px;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-border-radius: 0px;
}

.transparent-tree-view:focused {
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-border-insets: 0;
}

/*******************************************************************************
 *                                                                             *
 * Choose Texture control                                                      *
 *                                                                             *
 ******************************************************************************/

.choose-texture-control {
    -fx-alignment: center-right;
    -fx-spacing: 1px;
}

.choose-texture-control > .hbox {
    -fx-alignment: center-right;
    -fx-padding: 0px 0px 0px 4px;
}

.choose-texture-control-texture-label {
    -fx-alignment: center-left;
}

.choose-texture-control-preview {
    -fx-min-height: -var-default-field-height;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: -var-default-field-height;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

/*******************************************************************************
 *                                                                             *
 * Choose Resource control                                                     *
 *                                                                             *
 ******************************************************************************/

.choose-resource-control {
    -fx-padding: 0px 0px 0px 4px;
    -fx-alignment: center-left;
}

/*******************************************************************************
 *                                                                             *
 * Node Selector Dialog                                                        *
 *                                                                             *
 ******************************************************************************/

.node-selector-dialog {

}

.node-selector-dialog > .abstract-node-tree-container {
    -fx-min-height: 400px;
}

/*******************************************************************************
 *                                                                             *
 * Transparent List View                                                       *
 *                                                                             *
 ******************************************************************************/

.transparent-list-view {
    -fx-padding: 0px;
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-border-radius: 0px;
}

.transparent-list-view:focused {
    -fx-border-color: transparent;
    -fx-border-width: 0px;
    -fx-border-insets: 0;
}

/*******************************************************************************
 *                                                                             *
 * List View Without Scroll                                                    *
 *                                                                             *
 ******************************************************************************/

.list-view-without-scroll .scroll-bar:vertical,
.list-view-without-scroll .scroll-bar:horizontal,
.list-view-without-scroll .scroll-bar:vertical .increment-arrow,
.list-view-without-scroll .scroll-bar:vertical .decrement-arrow,
.list-view-without-scroll .scroll-bar:vertical .increment-button,
.list-view-without-scroll .scroll-bar:vertical .decrement-button,
.list-view-without-scroll .scroll-bar:horizontal .increment-arrow,
.list-view-without-scroll .scroll-bar:horizontal .decrement-arrow,
.list-view-without-scroll .scroll-bar:horizontal .increment-button,
.list-view-without-scroll .scroll-bar:horizontal .decrement-button {
    -fx-padding: 0;
}

/*******************************************************************************
 *                                                                             *
 * Settings Dialog                                                             *
 *                                                                             *
 ******************************************************************************/

.settings-dialog {
    -fx-min-height: 500px;
    -fx-min-width: 800px;
}

.settings-dialog-container {
    -fx-padding: 4px 0px 4px 0px;
}

.settings-dialog-message-label {
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-min-height: 35;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-fill: red;
    -fx-text-fill: red;
    -fx-wrap-text: true;
    -fx-font-size: 15px;
}

/*******************************************************************************
 *                                                                             *
 * Audio Editor                                                                *
 *                                                                             *
 ******************************************************************************/

.audio-view-editor-container {
    -fx-alignment: center;
    -fx-background-color: -var-background-color;
}

.audio-view-editor-container > .label {
    -fx-alignment: center-right;
    -fx-min-width: 200px;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-font-size: 16px;
    -fx-padding: 0px 6px 0px 0px;
}

.audio-view-editor-container > .text-field {
    -fx-min-width: 200px;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-font-size: 16px;
}

.audio-view-editor-container > .hbox {
    -fx-alignment: center;
}

.audio-view-editor-container > .hbox > .button {
    -fx-min-height: 142px;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 142px;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

.audio-view-editor-container > .hbox > .grid-pane {
    -fx-alignment: center;
    -fx-padding: 20px;
    -fx-vgap: 2px;
}

/*******************************************************************************
 *                                                                             *
 * Text File Editor                                                            *
 *                                                                             *
 ******************************************************************************/

.text-editor-text-area {
}

/*******************************************************************************
 *                                                                             *
 * Image View Editor                                                           *
 *                                                                             *
 ******************************************************************************/

.image-view-editor-container {
    -fx-alignment: center;
    -fx-background-color: -var-background-color;
}

/*******************************************************************************
 *                                                                             *
 * Confirm Dialog                                                              *
 *                                                                             *
 ******************************************************************************/

.confirm-dialog {
}

.confirm-dialog > .label {
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-min-height: 60px;
    -fx-font-size: 14px;
}

/*******************************************************************************
 *                                                                             *
 * Property Editor                                                            *
 *                                                                             *
 ******************************************************************************/

.property-editor {
}

.property-editor-container {
    -fx-alignment: top-center;
    -fx-padding: 2px 2px 2px 2px;
    -fx-spacing: 2px;
}

.property-editor-container-split-line {
    -fx-padding: 6px 0px 6px 0px;
}

.property-editor-container-split-line > .hbox {

    -fx-border-color: -var-border-color transparent transparent transparent,
                        transparent transparent transparent transparent;

    -fx-border-insets: 0, 1 0 0 0;
    -fx-border-style: none;
    -fx-padding: 0px;
}

/*******************************************************************************
 *                                                                             *
 * Property Control                                                            *
 *                                                                             *
 ******************************************************************************/


.property-control-resource {

}

.property-control-resource > .hbox {
    -fx-padding: 0px 0px 0px 4px;
}

.property-control-combo-box {
}

.property-control-vector-3f-field {
    -fx-min-height: -var-default-field-inner-height;
}

.property-control-vector-3f-field:focused {
    -fx-min-height: -var-default-field-inner-height;
}

.property-control-check-box {
}

.property-control-check-box-color-picker {
}

/*******************************************************************************
 *                                                                             *
 * Abstract Property Component                                                 *
 *                                                                             *
 ******************************************************************************/

.abstract-param-control {
    -fx-padding: 1px 0px 1px 0px;
    -fx-spacing: 2px;
}

.abstract-param-control > .hbox {
     -fx-spacing: 2px;
}

.abstract-param-control-multi-value-container {
    -fx-padding: 0px 2px 0px 2px;
}

.abstract-param-control-param-name {
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-padding: 0px 0px 0px 0px;
}

.abstract-param-control-element-label {
    -fx-alignment: center-left;
    -fx-text-alignment: left;
}

.abstract-param-control-param-name-single-row {
    -fx-alignment: center-right;
}

.abstract-param-control-input-container {
    -fx-alignment: center;
    -fx-max-height: -var-default-field-height;
    -fx-padding: 0px 0px 0px 6px;
}

.abstract-param-control-input-container:focused {
    -fx-padding: -1px -1px -1px 5px;
}

.abstract-param-control-short-input-container {
    -fx-alignment: center;
    -fx-max-height: -var-default-field-height;
}

.abstract-param-control-short-input-container:focused {
}

.abstract-param-control-short-input-container > .text-field {
    -fx-min-height: -var-default-inner-field-height;
    -fx-max-height: -var-default-inner-field-height;
}


.abstract-param-control-vector2f-field {
}


.abstract-param-control-label-value {
    -fx-alignment: center-left;
    -fx-text-alignment: left;
    -fx-min-height: -var-default-field-height;
    -fx-padding: 0px 0px 0px 4px;
}

.abstract-param-control-number-label {
    -fx-min-height: -var-default-field-height;
    -fx-min-width: 16px;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-alignment: center-right;
    -fx-text-alignment: right;
}

.abstract-param-control-preview-container {
    -fx-min-height: -var-default-field-preview-height;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: -var-default-field-preview-height;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

/*******************************************************************************
 *                                                                             *
 * Editor Scripting Component                                                  *
 *                                                                             *
 ******************************************************************************/

.editor-scripting-component {
    -fx-background-color: -var-background-color;
    -fx-padding: 5px;
    -fx-vgap: 3px;
}

.editor-scripting-component > .button {
    -fx-min-height: 32;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 150;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

/*******************************************************************************
 *                                                                             *
 * Physics Node List Control                                                   *
 *                                                                             *
 ******************************************************************************/

.physics-node-list-control {

}

.physics-node-list-control > .vbox > .label {
    -fx-min-height: -var-default-label-height;
}

/*******************************************************************************
 *                                                                             *
 * Scene App State List Component                                              *
 *                                                                             *
 ******************************************************************************/

.scene-app-state-container {
}

.scene-app-state-container > .hbox {
    -fx-alignment: center;
    -fx-padding: 4px;
}

.scene-app-state-container > .hbox > .button {
    -fx-min-height: -var-default-toolbar-button-size;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: -var-default-toolbar-button-size;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

.scene-app-state-list-cell {
}

.scene-app-state-list-cell > .hbox {
    -fx-alignment: center-left;
}

/*******************************************************************************
 *                                                                             *
 * Scene Filter List Component                                                 *
 *                                                                             *
 ******************************************************************************/

.scene-filter-container {
}

.scene-filter-container > .hbox {
    -fx-alignment: center;
    -fx-padding: 4px;
}

.scene-filter-container > .hbox > .button {
    -fx-min-height: -var-default-toolbar-button-size;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: -var-default-toolbar-button-size;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

.scene-filter-list-cell {
}

.scene-filter-list-cell > .hbox {
    -fx-alignment: center-left;
}

/*******************************************************************************
 *                                                                             *
 * Groovy Editor Component                                                     *
 *                                                                             *
 ******************************************************************************/

.groovy-editor-component {
    -fx-border-width: 1px;
    -fx-border-color: -var-border-color;
}

/*******************************************************************************
 *                                                                             *
 * Painting Components                                                         *
 *                                                                             *
 ******************************************************************************/

.painting-component-root {
    -fx-spacing: 2px;
}

.painting-component-root > .hbox {
    -fx-padding: 2px 0 2px 0;
    -fx-alignment: center-right;
}

.painting-component-root > .hbox > .combo-box {
    -fx-max-height: -fx-control-height;
}

.painting-component-root > .vbox {
}

.processing-component-terrain-editor {
    -fx-spacing: 2px;
    -fx-padding: 0px 0px 0px 4px;
}

.processing-component-terrain-editor > .grid-pane {
    -fx-vgap: 2px;
    -fx-hgap: 2px;
}

.processing-component-terrain-editor > .vbox > .grid-pane {
    -fx-vgap: 2px;
    -fx-hgap: 2px;
}

.processing-component-terrain-editor > .vbox > .grid-pane > .vbox {
    -fx-padding: 0px -2px 0px 0px;
}

.processing-component-terrain-layer {
    -fx-padding: 4px 0px 4px 2px;
    -fx-min-height: 108px;
    -fx-max-height: -fx-min-height;
}

.processing-component-terrain-layer > .grid-pane {
    -fx-vgap: 1px;
    -fx-padding: 0px 0px 0px 0px;
}

.processing-component-terrain-texture-layers-settings-buttons {
    -fx-alignment: center;
    -fx-padding: 4px;
}

.processing-component-terrain-texture-layers-settings-buttons > .button {
    -fx-min-height: -var-default-toolbar-button-size;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: -var-default-toolbar-button-size;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

/*******************************************************************************
 *                                                                             *
 * Medium Toggle Button                                                        *
 *                                                                             *
 ******************************************************************************/

.medium-toggle-button {
    -fx-min-height: 32;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 32;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

/*******************************************************************************
 *                                                                             *
 * Create Sky Dialog                                                           *
 *                                                                             *
 ******************************************************************************/

.create-sky-dialog {

}

.create-sky-dialog > .vbox {
    -fx-spacing: 2px;
}

.create-sky-dialog > .vbox > .grid-pane {
    -fx-vgap: 2px;
    -fx-hgap: 2px;
}

.create-sky-dialog > .vbox > .grid-pane > .hbox {
    -fx-spacing: 2px;
}

/*******************************************************************************
 *                                                                             *
 * About Dialog                                                                *
 *                                                                             *
 ******************************************************************************/

.about-dialog {
}

.about-dialog > .grid-pane {
    -fx-hgap: 2px;
    -fx-vgap: 2px;
}

.about-dialog-title-label {
    -fx-font-size: 22px;
}

.about-dialog-long-label {
    -fx-alignment: center;
    -fx-text-alignment: center;
}

/*******************************************************************************
 *                                                                             *
 * File Creator Dialog                                                         *
 *                                                                             *
 ******************************************************************************/

.file-creator-dialog {
}

.file-creator-dialog > .hbox {
    -fx-alignment: center-left;
}

.file-creator-dialog > .hbox > .vbox > .grid-pane,
.file-creator-dialog > .hbox > .grid-pane {
    -fx-alignment: top-left;
    -fx-vgap: 2px;
    -fx-hgap: 2px;
}

.file-creator-dialog > .hbox > .vbox > .border-pane {
}

/*******************************************************************************
 *                                                                             *
 * Save As Dialog                                                              *
 *                                                                             *
 ******************************************************************************/

.save-as-dialog {
}

.save-as-dialog > .hbox {
    -fx-alignment: center-left;
}

.save-as-dialog > .hbox > .vbox > .grid-pane,
.save-as-dialog > .hbox > .grid-pane {
    -fx-alignment: top-left;
    -fx-vgap: 2px;
    -fx-hgap: 2px;
}

.save-as-dialog > .hbox > .vbox > .border-pane {
}


/*******************************************************************************
 *                                                                             *
 * Generate LoD Dialog                                                         *
 *                                                                             *
 ******************************************************************************/

.generate-lod-dialog {
    -fx-alignment: center;
    -fx-spacing: 2px;
}

.generate-lod-dialog > .hbox {
    -fx-alignment: center;
    -fx-padding: 4px 0px 0px 0px;
}

.generate-lod-dialog > .hbox > .button {
    -fx-min-height: -var-default-toolbar-button-size;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: -var-default-toolbar-button-size;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

/*******************************************************************************
 *                                                                             *
 * Plugins Dialog                                                         *
 *                                                                             *
 ******************************************************************************/

.plugins-dialog {
    -fx-alignment: center;
    -fx-spacing: 2px;
    -fx-pref-height: 820px;
}

.plugins-dialog > .hbox {
    -fx-alignment: center;
    -fx-padding: 0px 0px 0px 0px;
}

.plugins-dialog > .hbox > .button {
    -fx-min-height: -var-default-toolbar-button-size;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: -var-default-toolbar-button-size;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

/*******************************************************************************
 *                                                                             *
 * Asset Editor Dialog                                                         *
 *                                                                             *
 ******************************************************************************/

.asset-editor-dialog {
}

.asset-editor-dialog > .hbox {
    -fx-alignment: center-left;
    -fx-spacing: 10px;
}

.asset-editor-dialog > .hbox > .tree-view {
    -fx-min-height: 500px;
    -fx-max-width: 598px;
}

.asset-editor-dialog > .hbox > .grid-pane {
    -fx-hgap: 2px;
}

.asset-editor-dialog > .hbox > .grid-pane > .label {
    -fx-alignment: center-right;
    -fx-text-alignment: right;
}

.asset-editor-dialog-preview-container {
    -fx-min-height: 500px;
    -fx-min-width: 500px;
    -fx-border-color: -var-border-color;
}

/*******************************************************************************
 *                                                                             *
 * Open External Folder Editor Dialog                                          *
 *                                                                             *
 ******************************************************************************/

.open-external-folder-editor-dialog {
}

.open-external-folder-editor-dialog > .tree-view {
    -fx-min-height: 400px;
    -fx-min-width: 700px;
}

/*******************************************************************************
 *                                                                             *
 * Create Terrain Dialog                                                       *
 *                                                                             *
 ******************************************************************************/

.create-terrain-dialog {

}

.create-terrain-dialog > .vbox {
    -fx-spacing: 2px;
}

.create-terrain-dialog > .vbox > .grid-pane {
    -fx-vgap: 2px;
}

/*******************************************************************************
 *                                                                             *
 * Property Editor Control                                                     *
 *                                                                             *
 ******************************************************************************/

.property-editor-control {
    -fx-padding: 1px 0px 1px 0px;
    -fx-spacing: 2px;
}

/*******************************************************************************
 *                                                                             *
 * Image Channel Preview                                                       *
 *                                                                             *
 ******************************************************************************/

.image-channel-preview {
    -fx-hgap: 4px;
    -fx-vgap: 4px;
}

/*******************************************************************************
 *                                                                             *
 * Image Preview                                                               *
 *                                                                             *
 ******************************************************************************/

.image-preview {
    -fx-min-height: 200px;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 200px;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

/*******************************************************************************
 *                                                                             *
 * Custom Tooltip                                                              *
 *                                                                             *
 ******************************************************************************/

.custom-tooltip {
    -fx-font-family: "Open Sans SemiBold";
    -fx-font-size: 13;
    -fx-padding: 6px;
    -fx-background-insets: 0;
    -fx-background-radius: 3px;
    -fx-border-color: -var-border-color;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-effect: -fx-shadow-menu;
}

/*******************************************************************************
 *                                                                             *
 * Plugin List Cell                                                            *
 *                                                                             *
 ******************************************************************************/

.plugin-list-cell {
    -fx-padding: 0px 0px 0px 6px;
}

/*******************************************************************************
 *                                                                             *
 * Stats 3D State                                                              *
 *                                                                             *
 ******************************************************************************/

.stats-3dstate {
    -fx-padding: 1px;
    -fx-vgap: 1px;
    -fx-hgap: 1px;
}

.stats-3dstate > .label {
    -fx-text-fill: white;
}

.stats-3dstate > .text-field {
    -fx-text-fill: white;
}

/*******************************************************************************
 *                                                                             *
 * Generic Text Area                                                           *
 *                                                                             *
 ******************************************************************************/

.webview-text-area {
    -fx-background-color: -var-background-color, -var-font-color, -fx-focus-color;
    -fx-border-color: -var-border-color;
    -fx-border-width: 1px;
    -fx-border-radius: 0px;
}