/*******************************************************************************
 *                                                                             *
 * Root                                                                        *
 *                                                                             *
 ******************************************************************************/

#Root {
    -fx-background-color: -var-background-color;
}

#RootContainer {
    -fx-alignment: top-center;
}

/*******************************************************************************
 *                                                                             *
 * Editor MenuBar Component                                                    *
 *                                                                             *
 ******************************************************************************/

#EditorMenuBarComponent {
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: -var-split-line-color;
}

/*******************************************************************************
 *                                                                             *
 * Editor Area Component                                                       *
 *                                                                             *
 ******************************************************************************/

#EditorAreaComponent {
    -fx-min-width: 500;
    -fx-tab-max-height: 18;
}

/*******************************************************************************
 *                                                                             *
 * Global Left Tool Component                                                  *
 *                                                                             *
 ******************************************************************************/

#GlobalLeftToolComponent {
    -fx-min-width: 24;
    -fx-tab-max-height: 18;
}

/*******************************************************************************
 *                                                                             *
 * Global Bottom Tool Component                                                *
 *                                                                             *
 ******************************************************************************/

#GlobalBottomToolComponent {
    -fx-min-height: 24;
    -fx-tab-max-height: 18;
}

/*******************************************************************************
 *                                                                             *
 * Log View                                                                    *
 *                                                                             *
 ******************************************************************************/

#LogView {
    -fx-background-color: -var-background-color;
    -fx-fill: -var-font-color;
    -fx-text-fill: -var-font-color;
}

#LogView .caret {
    -fx-stroke: transparent;
}

#LogView .content {
    -fx-background-color: -var-background-color;
}

/*******************************************************************************
 *                                                                             *
 * Editor Loading                                                              *
 *                                                                             *
 ******************************************************************************/

#EditorLoadingLayer {
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-alignment: center;
}

#EditorLoadingProgress {
    -fx-min-height: 150;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 150;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

/*******************************************************************************
 *                                                                             *
 * Asset Component                                                             *
 *                                                                             *
 ******************************************************************************/

#AssetComponent {
    -fx-background-color: -var-background-color;
    -fx-alignment: top-center;
    -fx-min-width: 30px;
}