.root {
    -fx-focus-color: #5294e2;
    -fx-accent: -fx-focus-color;

    -var-background-color: #ffffff;
    -var-border-color: #dcdfe3;

    -var-arrow-color: #70788d;
    -var-arrow-focused-color: white;
    -var-arrow-hover-color: #70788d;

    -var-menu-background-color: #ffffff;
    -var-menu-bar-background-color: #f5f6f7;
    -var-menu-hover-color: -fx-focus-color;
    -var-menu-item-hover-color: derive(-var-menu-background-color, -10%);
    -var-menu-arrow-color: -var-arrow-color;

    -var-font-color: #5d626e;
    -var-font-focused-color: white;
    -var-font-hover-color: #5d626e;
    -var-font-focused-hover-color: white;

    -var-split-line-color: #dddedf;

    -var-button-background-color: #fbfbfc;
    -var-button-hover-background-color: derive(-var-button-background-color, -3%);
    -var-button-hover-border-color: -fx-focus-color;

    -var-tab-header-background-color: -var-menu-background-color;
    -var-tab-background-color: transparent;
    -var-tab-hover-background-color: #fafbfb;

    -var-disabled-opacity: 0.5;

    -var-scroll-bar-thumb-color: #d0d2d5;
    -var-scroll-bar-background-color: transparent;
    -var-scroll-bar-hover-background-color: transparent;

    -var-tree-cell-selected-color: -fx-focus-color;
    -var-tree-cell-hover-color: derive(-var-background-color, -10%);

    -var-slider-track-background-color: #cfd6e6;

    -fx-shadow-panel: dropshadow(two-pass-box, rgba(0, 0, 0, 0.5), 10, 0.01, 1, 1);
    -fx-shadow-menu: dropshadow(two-pass-box, rgba(32, 34, 42, 0.5), 20, 0.01, 1, 1);
    -fx-shadow-control: dropshadow(three-pass-box, #1a1a1a, 4, 0.1, 0, 1);
}

/*******************************************************************************
 *                                                                             *
 * Syntax highlighting                                                                 *
 *                                                                             *
 ******************************************************************************/

.plain-code {
    -fx-fill: -var-font-color;
    -fx-text-fill: -fx-fill;
}

.keyword {
    -fx-fill: #7f0c78;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-fill;
}

.value-type {
    -fx-fill: #2a5332;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-fill;
}

.value-value {
    -fx-fill: #b6270c;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-fill;
}


.semicolon {
    -fx-fill: -var-font-color;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-fill;
}

.paren {
    -fx-fill: -var-font-color;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-fill;
}

.bracket {
    -fx-fill: -var-font-color;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-fill;
}

.brace {
    -fx-fill: -var-font-color;
    -fx-font-weight: bold;
    -fx-text-fill: -fx-fill;
}

.string {
    -fx-fill: #1017c7;
    -fx-text-fill: -fx-fill;
}

.comment {
    -fx-fill: #3f7f5f;
    -fx-text-fill: -fx-fill;
}

.paragraph-box:has-caret {
    -fx-background-color: #f2f9fc;
}

.log-severity {
    -fx-fill: red;
    -fx-text-fill: -fx-fill;
}

.log-framework {
    -fx-fill: #7f0c78;
    -fx-text-fill: -fx-fill;
}

.log-class {
    -fx-fill: #2a5332;
    -fx-text-fill: -fx-fill;
}