Package: jmonkey-builder
Version: @version@
Section: graphics
Maintainer: Java Developer <javasabr@gmail.com>
Priority: optional
Architecture: amd64
Provides: jmonkey-builder
Homepage: https://bitbucket.org/JavaSabr/jmonkey-builder
Description: 3D Editor for jMonkeyEngine 3.2 by JavaSaBr
