@font-face {
    font-family: Ubuntu Regular;
    src: url("/ui/fonts/ubuntu/Ubuntu-R.ttf");
}

@font-face {
    font-family: Ubuntu Condensed;
    src: url("/ui/fonts/ubuntu/Ubuntu-C.ttf");
}

@font-face {
    font-family: Ubuntu Mono;
    src: url("/ui/fonts/ubuntu/Ubuntu-M.ttf");
}

@font-face {
    font-family: Ubuntu Mono Bold;
    src: url("/ui/fonts/ubuntu/UbuntuMono-B.ttf");
}

/* Make popups transparent */
.root.popup {
    -fx-background-color: transparent;
}

/* ContextMenu */

.context-menu {
    -fx-padding: 0 0 0 0;
    -fx-background-color: -var-menu-background-color;
    -fx-background-insets: 0;
    -fx-background-radius: 3px;
    -fx-border-color: -var-border-color;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-effect: -fx-shadow-menu;
}

.context-menu .separator:horizontal .line {
    -fx-border-color: -fx-box-border transparent transparent transparent;
    -fx-border-insets: 1 0 0 0;
}

.context-menu > .scroll-arrow {
    -fx-padding: 0.416667em 0.416667em 0.416667em 0.416667em; /* 5 */
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.context-menu > .scroll-arrow:hover {
    -fx-background: -fx-selection-bar;
    -fx-background-color: -fx-background;
    -fx-background-radius: 0;
    -fx-text-fill: -fx-text-background-color;
}

.context-menu:show-mnemonics > .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
}

/* ScrollBar */

.corner {
    -fx-background-color: transparent;
}

.scroll-bar:horizontal,
.scroll-bar:vertical,
.scroll-bar:focused,
.scroll-bar:vertical:focused {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.scroll-bar > .thumb,
.scroll-bar:vertical > .thumb {
    -fx-background-color: -fx-color-600;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.scroll-bar > .track,
.scroll-bar:vertical > .track {
    -fx-background-color: transparent;
}

.scroll-bar > .track-background,
.scroll-bar:vertical > .track-background {
    -fx-background-color: transparent;
}

.scroll-bar > .increment-button,
.scroll-bar > .decrement-button,
.scroll-bar > .increment-button:hover,
.scroll-bar > .decrement-button:hover,
.scroll-bar > .increment-button:pressed,
.scroll-bar > .decrement-button:pressed {
    -fx-padding: 2px;
}

.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow,
.scroll-bar > .increment-button:hover > .increment-arrow,
.scroll-bar > .decrement-button:hover > .decrement-arrow,
.scroll-bar > .increment-button:pressed > .increment-arrow,
.scroll-bar > .decrement-button:pressed > .decrement-arrow {
    -fx-padding: 0;
}

.scroll-bar:horizontal > .decrement-button > .decrement-arrow,
.scroll-bar:horizontal > .increment-button > .increment-arrow,
.scroll-bar:vertical > .decrement-button > .decrement-arrow,
.scroll-bar:vertical > .increment-button > .increment-arrow {
    -fx-padding: 0;
}

/* Scroll Pane */

.scroll-pane > .viewport,
.scroll-pane {
    -fx-background-color: transparent;
}

/* SplitPane */

.split-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.split-pane > .split-pane-divider {
    -fx-padding: 0 1 0 0;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-background-color: -var-split-line-color;
    -fx-background-insets: 0;
    -fx-effect: null;
}

.split-pane:vertical > .split-pane-divider {
    -fx-background-color: -var-split-line-color;
    -fx-background-insets: 0;
    -fx-effect: null;
}

/* TabPane */

.tab-pane {
    -fx-tab-min-height: 1.8333em; /* 22 */
    -fx-tab-max-height: 1.8333em; /* 22 */
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: -fx-text-base-color;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-border-color: transparent;
    -fx-alignment: center-right;
    -fx-body-color: transparent;
    -fx-background-color: -fx-body-color, -fx-body-color;
    -fx-background-insets: 0, 0;
    -fx-background-radius: 0;
    -fx-cursor: hand;
}

.tab-pane > .tab-header-area > .headers-region > .tab:top {
    -fx-padding: 2 6 2 6;
}

.tab-pane > .tab-header-area > .headers-region > .tab:right {
    -fx-padding: 2 6 2 6;
}

.tab-pane > .tab-header-area > .headers-region > .tab:bottom {
    -fx-padding: 2 6 2 6;
}

.tab-pane > .tab-header-area > .headers-region > .tab:left {
    -fx-padding: 2 6 2 6;
}

.tab-pane > .tab-header-area > .headers-region > .tab:hover {
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: -fx-body-color, linear-gradient(to top,
    -fx-color-600 0%,
    -fx-color-600 7%,
    transparent 10%);
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-border-insets: 0;
    -fx-border-radius: 0; /* looks sharper if outer border has a tighter radius (2 instead of 3) */
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:bottom:selected .focus-indicator {
    -fx-border-insets: -6 -5 -4 -4, -5 -3 -2 -2;
}

.tab-pane > .tab-header-area > .headers-region > .tab:disabled:hover {
    -fx-color: -fx-base;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-background-color: -var-background-color;
}

.tab-pane:top > .tab-header-area > .tab-header-background {
    -fx-background-insets: 0, 0 0 1 0, 1;
}

.tab-pane:bottom > .tab-header-area > .tab-header-background {
    -fx-background-insets: 0; /* 0, 0 1 0 0, 1 */
}

.tab-pane:left > .tab-header-area > .tab-header-background {
    -fx-background-insets: 0; /* 0, 0 1 0 0, 1 */
}

.tab-pane:right > .tab-header-area > .tab-header-background {
    -fx-background-insets: 0, 0 0 0 1, 1;
}

.tab-pane:top > .tab-header-area {
    /*-fx-padding: 0.416667em 0.166667em 0.0em 0.416667em; *//* 5 2 0 5 */
    -fx-padding: 0; /* 5 2 0 5 */
}

.tab-pane:bottom > .tab-header-area {
    -fx-padding: 0; /* 5 0 2 5 */
}

.tab-pane:left > .tab-header-area {
    -fx-padding: 0; /* 5 0 2 5 */
}

.tab-pane:right > .tab-header-area {
    -fx-padding: 0; /* 5 5 2 0 */
}

/* TODO: scaling the shape seems to make it way too large */
.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-close-button {
    -fx-background-color: -var-button-arm-color;
    -fx-shape: "M 0,0 H1 L 4,3 7,0 H8 V1 L 5,4 8,7 V8 H7 L 4,5 1,8 H0 V7 L 3,4 0,1 Z";
    -fx-scale-shape: false;
    -fx-effect: null;
}

.tab-pane > .tab-header-area > .headers-region > .tab:hover > .tab-container > .tab-close-button {
    -fx-background-color: -var-button-arm-color;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-close-button:hover {
    -fx-background-color: white;
}

/* CONTROL BUTTONS */
.tab-pane > .tab-header-area > .control-buttons-tab > .container {
    -fx-padding: 3 0 0 0;
}

.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: -1 0 5 0, 0 1 6 1, 1 2 7 2;
    -fx-padding: 4 4 9 4;
    -fx-background-radius: 10;
}

.tab-pane:bottom > .tab-header-area > .control-buttons-tab > .container > .tab-down-button {
    -fx-padding: -5 4 4 4; /* TODO convert to ems */
}

/* FLOATING TABS CUSTOMISATION */
.tab-pane.floating > .tab-header-area > .tab-header-background {
    -fx-background-color: null;
}

.tab-pane.floating > .tab-header-area {
    -fx-background-color: null;
}

.tab-pane.floating > .tab-content-area {
    -fx-background-color: -fx-outer-border, -fx-background;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 2, 0;
    -fx-padding: 2;
}

/* TextArea */

.text-area {
    -fx-padding: 0;
    -fx-cursor: default;
    -fx-background-color: -fx-color-panel-200;
    -fx-background-radius: 0;
}

.text-area > .scroll-pane {
    -fx-background-color: null;
}

.text-area > .scroll-pane > .scroll-bar:horizontal {
    -fx-background-radius: 0 0 2 2;
}

.text-area > .scroll-pane > .scroll-bar:vertical {
    -fx-background-radius: 0 2 2 0;
}

.text-area > .scroll-pane > .corner {
    -fx-background-radius: 0 0 2 0;
}

.text-area .content {
    /*the is 1px less top and bottom than TextInput because of scrollpane border */
    -fx-padding: 0.25em 0.583em 0.25em 0.583em; /* 3 7 3 7 */
    -fx-cursor: text;
    -fx-background-color: -fx-color-panel-200;
    -fx-background-radius: 0;
}

.text-area:focused .content {
    -fx-background-color: -fx-color-panel-200;;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

/* Buttons */

.button,
.toggle-button,
.radio-button > .radio,
.check-box > .box,
.choice-box,
.color-picker.split-button > .color-picker-label {
    -fx-body-color: transparent;
    -fx-background-color: -fx-body-color;
    -fx-background-insets: 0;
    -fx-background-radius: 2px;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-padding: 4, 8, 4, 8; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-cursor: hand;
    -fx-effect: null;
}

.button:default {
    -fx-text-fill: white;
}

.combo-box-base,
.combo-box-base:editable > .arrow-button {
    -fx-body-color: transparent;
    -fx-background-radius: 0;
    -fx-background-color: -fx-body-color, linear-gradient(to top,
    -fx-color-0 0%,
    -fx-color-0 8%,
    transparent 8%);
    -fx-padding: 0, 0, 0, 0; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-prompt-text-fill: -fx-text-inner-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-cursor: hand;
    -fx-effect: null;
}

.combo-box-base > .list-cell {
    -fx-padding: 0 2 0 2;
}

.combo-box-base .arrow,
.combo-box-base:hover .arrow {
    -fx-background-color: -fx-color-panel-50;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.button:hover,
.toggle-button:hover,
.radio-button:hover > .radio,
.check-box:hover > .box,
.split-menu-button > .label:hover,
.split-menu-button > .arrow-button:hover,
.slider .thumb:hover,
.scroll-bar > .thumb:hover,
.scroll-bar > .increment-button:hover,
.scroll-bar > .decrement-button:hover,
.choice-box:hover,
.color-picker.split-button > .arrow-button:hover,
.color-picker.split-button > .color-picker-label:hover,
.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button:hover {
    -fx-body-color: -fx-button-background-hover;
}

.combo-box-base:hover,
.combo-box-base:editable > .arrow-button:hover {
}

.button:armed,
.toggle-button:armed,
.radio-button:armed > .radio,
.check-box:armed .box,
.split-menu-button:armed > .label,
.split-menu-button > .arrow-button:pressed,
.split-menu-button:showing > .arrow-button,
.slider .thumb:pressed,
.scroll-bar > .thumb:pressed,
.scroll-bar > .increment-button:pressed,
.scroll-bar > .decrement-button:pressed,
.choice-box:showing,
.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button:pressed {
    -fx-body-color: -var-button-arm-color;
}

.button:focused,
.toggle-button:focused,
.radio-button:focused > .rado,
.check-box:focused > .box,
.choice-box:focused,
.color-picker.split-button:focused > .color-picker-label,
.slider:focused .thumb {
}

.combo-box-base:focused {
    -fx-background-color: -fx-body-color, linear-gradient(to top,
    -fx-color-500 0%,
    -fx-color-500 8%,
    transparent 8%);
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.check-box .box {
    -fx-border-color: -fx-color-0;
    -fx-border-width: 1;
    -fx-border-radius: 2;
    -fx-border-insets: 0;
    -fx-padding: 2;
}

.check-box:selected .box {
    -fx-border-color: -fx-color-500;
    -fx-border-width: 1;
    -fx-border-radius: 2;
    -fx-border-insets: 0;
    -fx-padding: 2;
    -fx-background-color: -fx-color-500;
    -fx-background-radius: 2px;
}

.check-box .mark {
    -fx-border-width: 0;
    -fx-effect: null;
}

.check-box:hover .mark {
    -fx-effect: null;
}

.check-box:selected .mark {
    -fx-background-color: -var-background-color;
    -fx-effect: null;
}

/* MenuBar */

.menu-bar {
    -fx-padding: 0.0em 0.666667em 0.0em 0.666667em; /* 0 8 0 8 */
    -fx-spacing: 0.166667em; /* 2 */
    -fx-background-color: -var-background-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-effect: null;
}

.menu-bar > .container > .menu-button {
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.menu-bar > .container > .menu-button:hover, .menu-bar > .container > .menu-button:focused, .menu-bar > .container > .menu-button:showing {
    -fx-background-color: -var-menu-item-hover-color;
}

.menu-bar > .container > .menu-button:hover {
    -fx-background: red;
    -fx-background-color: -var-menu-item-hover-color;
    -fx-text-fill: -fx-selection-bar-text;
}

.menu-bar:show-mnemonics > .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
}

/* MenuItem */

.menu-item {
    -fx-body-color: transparent;
    -fx-background-color: -fx-body-color;
    -fx-padding: 6 14 6 14; /* 4 5 4 5 */
    -fx-cursor: hand;
}

.menu-item > .left-container {
    -fx-padding: 0.458em 0.791em 0.458em 0.458em;
}

.menu-item > .graphic-container {
    -fx-padding: 0em 0.333em 0em 0em;
}

.menu-item > .label {
    -fx-font-family: "Ubuntu Condensed";
    -fx-font-size: 14px;
    -fx-text-fill: -var-font-color;
    -fx-padding: 0em 0.5em 0em 0em;
}

.menu-item:focused {
    -fx-body-color: -var-menu-item-hover-color;
}

.menu-item:focused > .label {
    -fx-text-fill: -var-font-focused-color;
}

.menu-item:hover > .label {
    -fx-text-fill: -var-font-hover-color;
}

.menu-item > .right-container {
    -fx-padding: 0em 0em 0em 0.5em;
}

.menu-item:show-mnemonics > .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
}

/* Menu */

.menu {
    -fx-cursor: hand;
}

.menu > .label {
    -fx-font-family: "Ubuntu Condensed";
    -fx-font-size: 14px;
}

.menu > .right-container > .arrow {
    -fx-background-color: -var-menu-arrow-color;
}

.menu:focused > .right-container > .arrow {
    -fx-background-color: -var-menu-arrow-color;
}

/* Tooltip */

.tooltip {
    -fx-background-color: -fx-color-panel-900;
    -fx-background-radius: 0;
    -fx-effect: -fx-shadow-panel;
    -fx-font-family: "Ubuntu Condensed";
    -fx-font-size: 14;
}

/* Toggle Button */
.toggle-button {
    -fx-body-color: transparent;
    -fx-background-color: -fx-body-color;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-border-insets: 0;
    -fx-padding: 0; /* 4 8 4 8 */
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: CENTER;
    -fx-cursor: hand;
    -fx-effect: null;
}

.toggle-button:selected {
    -fx-body-color: -fx-color-500;
}

/* ColorPicker */

.color-picker {
    -fx-body-color: transparent;
    -fx-background-color: -fx-body-color, linear-gradient(to top,
    -fx-color-0 0%,
    -fx-color-0 8%,
    transparent 8%);
}

.color-palette-region {
    -fx-background-color: transparent;
}

.color-picker-grid {
    -fx-vgap: 0px;
    -fx-hgap: 0px;
}

.color-palette {
    -fx-background-color: -var-background-color;
    -fx-background-insets: 0;
    -fx-background-radius: 2px;
    -fx-effect: -fx-shadow-control;
}

.hover-square {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

/* CustomColorDialog */

.custom-color-dialog {
    -fx-background-color: -var-background-color;
    -fx-padding: 1.25em;
    -fx-spacing: 1.25em;
}

.custom-color-dialog > .color-rect-pane {
    -fx-spacing: 0.75em;
    -fx-pref-height: 16.666667em;
    -fx-alignment: top-left;
    -fx-fill-height: true;
}

.custom-color-dialog .color-rect-pane .color-rect {
    -fx-min-width: 16.666667em;
    -fx-min-height: 16.666667em;
}

.custom-color-dialog > .color-rect-pane > .color-bar {
    -fx-min-width: 1.666667em;
    -fx-min-height: 16.666667em;
    -fx-max-width: 1.666667em;
    -fx-border-color: derive(-fx-base, -20%);
}

.custom-color-dialog .color-rect-pane .color-rect-border {
    -fx-border-color: derive(-fx-base, -20%);
}

.custom-color-dialog > .color-rect-pane #color-rect-indicator {
    -fx-border-color: white;
    -fx-border-radius: 0.4166667em;
    -fx-translate-x: -0.4166667em;
    -fx-translate-y: -0.4166667em;
    -fx-pref-width: 0.833333em;
    -fx-pref-height: 0.833333em;
    -fx-effect: -fx-shadow-control;
}

.custom-color-dialog > .color-rect-pane > .color-bar > #color-bar-indicator {
    -fx-border-radius: 0;
    -fx-border-color: white;
    -fx-pref-width: 2em;
    -fx-pref-height: 0.833333em;
    -fx-translate-x: -0.1666667em;
    -fx-translate-y: -0.4166667em;
    -fx-effect: -fx-shadow-control;
}

.custom-color-dialog .controls-pane .current-new-color-grid #current-new-color-border {
    -fx-border-color: derive(-fx-base, -20%);
    -fx-border-width: 2px;
}

.custom-color-dialog .controls-pane #spacer1 {
    -fx-min-height: 0.1666667em;
    -fx-max-height: 0.1666667em;
    -fx-pref-height: 0.1666667em;
}

.custom-color-dialog .transparent-pattern {
    -fx-background-image: url("/com/sun/javafx/scene/control/skin/modena/pattern-transparent.png");
    -fx-background-repeat: repeat;
    -fx-background-size: auto;
}

.custom-color-dialog .controls-pane #spacer2 {
    -fx-min-height: 1em;
    -fx-max-height: 1em;
    -fx-pref-height: 1em;
}

.custom-color-dialog .controls-pane #settings-pane {
    -fx-background-color: -var-background-color;
    -fx-hgap: 0.4166667em;
    -fx-vgap: 0.3333333em;
    -fx-padding: 0 0 4px 0;
}

.custom-color-dialog .controls-pane .customcolor-controls-background {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.custom-color-dialog .controls-pane #spacer-side {
    -fx-min-width: 0.5em;
    -fx-pref-width: 0.5em;
}

.custom-color-dialog .controls-pane .current-new-color-grid .label {
    -fx-padding: 0 0 0 0.4166667em;
    -fx-font-family: "Ubuntu Condensed";
    -fx-font-size: 15px;
}

.custom-color-dialog .controls-pane #settings-pane .settings-unit {
    -fx-max-width: 1em;
    -fx-font-family: "Ubuntu Condensed";
    -fx-font-size: 14px;
}

.custom-color-dialog .controls-pane #settings-pane .slider {
    -fx-pref-width: 8.25em;
}

.custom-color-dialog .controls-pane .color-input-field {
    -fx-pref-column-count: 3;
    -fx-max-width: 3.25em;
    -fx-min-width: 3.25em;
    -fx-pref-width: 3.25em;
    -fx-min-height: 20px;
    -fx-font-family: "Ubuntu Condensed";
    -fx-font-size: 14px;
}

.custom-color-dialog .controls-pane .web-field {
    -fx-pref-column-count: 6;
    -fx-pref-width: 8.25em;
    -fx-min-height: 20px;
    -fx-font-family: "Ubuntu Condensed";
    -fx-font-size: 14px;
}

.custom-color-dialog .controls-pane #settings-pane .settings-label {
    -fx-text-alignment: right;
    -fx-alignment: center-right;
    -fx-min-width: 110px;
    -fx-font-family: "Ubuntu Condensed";
    -fx-font-size: 14px;
}

.custom-color-dialog .controls-pane #spacer-bottom {
    -fx-pref-height: 0.833333em;
    -fx-min-height: 0.833333em;
}

.custom-color-dialog .controls-pane #buttons-hbox {
    -fx-spacing: 0.333333em;
    -fx-padding: 1em 0 0 0;
    -fx-alignment: bottom-right;
    -fx-font-family: "Ubuntu Condensed";
    -fx-font-size: 16px;
}

.custom-color-dialog .controls-pane #settings-pane .left-pill {
    -fx-min-width: 70px;
    -fx-min-height: 24px;
    -fx-font-family: "Ubuntu Condensed";
    -fx-font-size: 15px;
}

.custom-color-dialog .controls-pane #settings-pane .center-pill {
    -fx-min-width: 70px;
    -fx-min-height: 24px;
    -fx-font-family: "Ubuntu Condensed";
    -fx-font-size: 15px;
}

.custom-color-dialog .controls-pane #settings-pane .right-pill {
    -fx-min-width: 70px;
    -fx-min-height: 24px;
    -fx-font-family: "Ubuntu Condensed";
    -fx-font-size: 15px;
}

.custom-color-dialog .controls-pane .current-new-color-grid .color-rect {
    -fx-min-width: 10.666667em;
    -fx-min-height: 1.75em;
    -fx-pref-width: 10.666667em;
    -fx-pref-height: 1.75em;
}

/* Spinner */

.spinner {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}

.spinner:focused,
.spinner:contains-focus {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}

.spinner > .text-field {
    -fx-body-color: transparent;
    -fx-background-color: -fx-body-color, linear-gradient(to top,
    -fx-color-0 0%,
    -fx-color-0 8%,
    transparent 8%);
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}

.spinner:focused > .text-field,
.spinner:contains-focus > .text-field {
    -fx-body-color: transparent;
    -fx-background-color: -fx-body-color, linear-gradient(to top,
    -fx-color-500 0%,
    -fx-color-500 8%,
    transparent 8%);
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-border-color: transparent;
}

.spinner .increment-arrow {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.spinner .increment-arrow-button {
    -fx-background-color: transparent;
    /*Change the two 0's here to -1 to get rid of the horizontal line */
    -fx-background-insets: 0;
    -fx-background-radius: 10;
    -fx-padding: 0.333335em 0.666667em 0.333335em 0.666667em; /* 5 8 3 8 */
}

.spinner .decrement-arrow-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 10;
    -fx-padding: 0.333335em 0.666667em 0.333335em 0.666667em; /* 3 8 5 8 */
}

.spinner:focused .increment-arrow-button,
.spinner:contains-focus .increment-arrow-button,
.spinner:focused .decrement-arrow-button,
.spinner:contains-focus .decrement-arrow-button {
    -fx-background-color: transparent;
}

.spinner .increment-arrow-button .increment-arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 0 0 -1 0, 0;
    -fx-padding: 0.166667em 0.333333em 0.166667em 0.333333em; /* 2 4 2 4 */
    -fx-shape: "M 0 4 h 7 l -3.5 -4 z";
}

.spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 0 0 -1 0, 0;
    -fx-padding: 0.166667em 0.333333em 0.166667em 0.333333em; /* 2 4 2 4 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

/** Text Field  */
.text-input {
    -fx-body-color: transparent;
    -fx-background-color: -fx-body-color, linear-gradient(to top,
    -fx-color-0 0%,
    -fx-color-0 8%,
    transparent 8%);
    -fx-background-insets: 0, 0;
    -fx-background-radius: 0;
    -fx-highlight-fill: derive(-fx-control-inner-background, -20%);
    -fx-highlight-text-fill: -fx-text-inner-color;
    -fx-prompt-text-fill: -fx-text-inner-color;
    -fx-cursor: text;
    -fx-padding: 0 2 0 2;
    -fx-text-fill: -fx-text-base-color;
    -fx-effect: null;
}

.text-input:focused {
    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
    -fx-prompt-text-fill: transparent;
    -fx-background-color: -fx-body-color, linear-gradient(to top,
    -fx-color-500 0%,
    -fx-color-500 8%,
    transparent 8%);
}

/* TextArea */

.text-area {
    -fx-padding: 0;
    -fx-cursor: default;
    -fx-background-color: transparent;
}

.text-area > .scroll-pane {
    -fx-background-color: null;
}

.text-area > .scroll-pane > .scroll-bar:horizontal {
    -fx-background-radius: 0 0 2 2;
}

.text-area > .scroll-pane > .scroll-bar:vertical {
    -fx-background-radius: 0 2 2 0;
}

.text-area > .scroll-pane > .corner {
    -fx-background-radius: 0 0 2 0;
}

.text-area .content {
    /*the is 1px less top and bottom than TextInput because of scrollpane border */
    -fx-padding: 3 3 3 3; /* 3 7 3 7 */
    -fx-cursor: text;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

.text-area:focused .content {
    -fx-background-color: transparent;
    -fx-background-radius: 0;
}

/* ComboBox Popup */

.combo-box-popup > .list-view {
    -fx-background-color: -fx-color-panel-900;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-effect: -fx-shadow-panel;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell {
    -fx-padding: 4 0 4 5;
    /* No alternate highlighting */
    -fx-background: transparent;
    -fx-background-insets: 0;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:hover {
    -fx-background: -fx-accent;
}

.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected,
.combo-box-popup > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected:hover {
    -fx-background: -fx-accent;
}

.combo-box-popup > .list-view > .placeholder > .label {
    -fx-text-fill: derive(-fx-control-inner-background, -30%);
}


/* Slider */

.slider .thumb {
    -fx-background-color: -fx-color-panel-100;
    -fx-background-radius: 6px;
    -fx-padding: 6px;
    -fx-effect: null;
}
.slider:focused .thumb {
    -fx-background-color: -fx-color-600;
}

.slider .track {
    -fx-background-color: -fx-color-panel-100;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 2px 3px 2px 3px;
}

.slider:focused .track {
    -fx-background-color: -fx-color-600;
}

.slider:vertical .track {
}
.slider .axis {
}

/* hyperlink */
.hyperlink {
    -fx-padding: 0px;
}