/*******************************************************************************
 *                                                                             *
 * Root                                                                        *
 *                                                                             *
 ******************************************************************************/

#Root {
    -fx-background-color: -var-background-color;
}

#RootContainer {
    -fx-alignment: top-center;
}

/*******************************************************************************
 *                                                                             *
 * Editor MenuBar Component                                                    *
 *                                                                             *
 ******************************************************************************/

#EditorMenuBarComponent {
    -fx-padding: 0px;
    -fx-min-height: 30px;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: -var-split-line-color;
}

/*******************************************************************************
 *                                                                             *
 * Editor Area Component                                                       *
 *                                                                             *
 ******************************************************************************/

#EditorAreaComponent {
    -fx-min-width: 500;
    -fx-tab-max-height: 18;
}

/*******************************************************************************
 *                                                                             *
 * Global Left Tool Component                                                  *
 *                                                                             *
 ******************************************************************************/

#GlobalLeftToolComponent {
    -fx-min-width: 28;
    -fx-tab-max-height: 18;
}

/*******************************************************************************
 *                                                                             *
 * Global Bottom Tool Component                                                *
 *                                                                             *
 ******************************************************************************/

#GlobalBottomToolComponent {
    -fx-min-height: 28;
    -fx-tab-max-height: 18;
}

/*******************************************************************************
 *                                                                             *
 * Log View                                                                    *
 *                                                                             *
 ******************************************************************************/

#LogView {
    -fx-background-color: -var-background-color;
    -fx-fill: -var-font-color;
    -fx-text-fill: -var-font-color;
    -fx-font-family: "Ubuntu Mono";
    -fx-font-size: 13px;
}

#LogView .caret {
    -fx-stroke: transparent;
}

#LogView .content {
    -fx-background-color: -var-background-color;
    -fx-fill: -var-font-color;
    -fx-text-fill: -var-font-color;
}

/*******************************************************************************
 *                                                                             *
 * Editor Loading                                                              *
 *                                                                             *
 ******************************************************************************/

#EditorLoadingLayer {
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-alignment: center;
}

#EditorLoadingProgress {
    -fx-min-height: 150;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 150;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

/*******************************************************************************
 *                                                                             *
 * Asset Component                                                             *
 *                                                                             *
 ******************************************************************************/

#AssetComponent {
    -fx-background-color: -var-background-color;
    -fx-alignment: top-center;
    -fx-min-width: 30px;
}

/*******************************************************************************
 *                                                                             *
 * Asset Editor Dialog                                                         *
 *                                                                             *
 ******************************************************************************/

#AssetEditorDialogButtonContainer {
    -fx-alignment: center-right;
    -fx-padding: 0 0 0 0;
}

#AssetEditorDialogResourcesContainer {
    -fx-alignment: center-left;
    -fx-padding: 15px 0px 0px 0px;
}

#AssetEditorDialogPreviewContainer {
    -fx-border-color: -fx-color-0;
    -fx-border-width: 1;
    -fx-min-height: 600;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 600;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#ParticlesAssetEditorDialogSettingsContainer {
    -fx-alignment: center-left;
    -fx-min-height: 600;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 600;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-hgap: 3px;
    -fx-vgap: 4px;
}

#ParticlesAssetEditorDialogPreviewContainer {
    -fx-border-color: -fx-color-0;
    -fx-border-width: 1;
    -fx-min-height: 540;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 600;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#ParticlesAssetEditorDialogLabel {
    -fx-alignment: center-right;
    -fx-text-alignment: right;
    -fx-min-height: 20;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 240;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#ParticlesAssetEditorDialogControl {
    -fx-min-height: 26;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 356;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#ImageChannelPreview {
    -fx-background-color: -var-background-color;
    -fx-effect: -fx-shadow-panel;
    -fx-padding: 8;
    -fx-hgap: 4;
    -fx-vgap: 4;
}

#ImageChannelPreviewImageContainer {
    -fx-alignment: center;
    -fx-min-width: 122;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-min-height: 122;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-border-color: -fx-color-panel-50;
    -fx-border-width: 1;
    -fx-fit-to-height: 122;
    -fx-fit-to-width: 122;
}

#ChooseResourceControlButton {
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 24;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
}

#ChooseFolderControlFolderLabel {
    -fx-min-height: 25;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-min-width: 277;
    -fx-pref-width: -fx-min-width;
    -fx-max-width: -fx-min-width;
    -fx-alignment: center-left;
}

#JmePreviewManagerImageView {
}

#GenerateLoDDialogListView {
    -fx-min-height: 160px;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
}

#GenerateLoDDialogListViewCell {
    -fx-min-height: 30px;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
}

#AbstractParamControlNumberLabel {
    -fx-min-height: 24;
    -fx-pref-height: -fx-min-height;
    -fx-max-height: -fx-min-height;
    -fx-padding: 0 2 0 2;
}

#AbstractParamControlMultiValuesContainer {
    -fx-alignment: center;
    -fx-hgap: 2px;
}

#AbstractDialogGridSettingsContainer {
    -fx-alignment: center-left;
    -fx-vgap: 2;
    -fx-hgap: 2;
}

#FileCreatorDialogContainer {
    -fx-alignment: center-left;
}

#FileCreatorDialogGridSettingsContainer {
    -fx-alignment: top-left;
    -fx-vgap: 2;
    -fx-hgap: 2;
}

#StatsAppStateStatsContainer {
    -fx-padding: 5px;
    -fx-vgap: 3px;
    -fx-hgap: 3px;
}

/*******************************************************************************
 *                                                                             *
 * About Dialog                                                                *
 *                                                                             *
 ******************************************************************************/

#AboutDialogGridPane {
    -fx-vgap: 4px;
    -fx-hgap: 2px;
}

#AboutDialogLongLabel {
    -fx-alignment: center;
    -fx-text-alignment: center;
}