
.code-area {
    -fx-background-color: -var-background-color;
    -fx-stroke: -var-font-color;
    -fx-font-family: "Ubuntu Mono";
    -fx-font-size: 13px;
}

.code-area .caret {
    -fx-stroke: -var-font-color;
}

.code-area .content {
    -fx-background-color: transparent;
}