
.styled-text-area {
    -fx-highlight-fill: -fx-focus-color;
}

.styled-text-area .text {
    -rtfx-background-color: transparent;
    -fx-font-family: "Ubuntu Mono";
    -fx-font-size: 14;
}

.styled-text-area .virtual-flow {
    -fx-background-color: transparent;
}

.styled-text-area .paragraph-text {
    -fx-background-color: transparent;
}

.styled-text-area .virtual-flow .paragraph-box {
    -fx-background-color: transparent;
}

.code-area {
    -fx-background-color: -var-background-color;
    -fx-stroke: -var-font-color;
}

.code-area .caret {
    -fx-stroke: -var-font-color;
}

.code-area .content {
    -fx-background-color: transparent;
}